<div class="container text-center">
    <section id="about" class="section">
       <img src="tu-foto-de-perfil.jpg" alt="Foto de Perfil" class="profile-img mx-auto d-block">
    <h1 class="mt-3">Mi Portfolio</h1>
        <p class="lead">@ViewBag.DatosPersonales.Descripcion</p>
    </section>
</div>